@use "UI-kit.scss" as *;

html {
    box-sizing: border-box;
    font-size: 10px;
    line-height: 10px;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 30px;
}

@media all and (max-width: 1440px) {
    .container {
        max-width: 1320px;
    }
}


.hero-title {
    font-weight: 700;
    font-size: 3.8em;
    background: $red_text-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.title {
    font-weight: 700;
    color: $main--regular-color;

    &--bold {
        font-size: 3em;
    }

    &--medium {
        font-size: 2.2em;
    }

    &--regular {
        font-size: 1.4em;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &--small {
        font-size: 1.6em;
    }
}

.text {
    font-weight: 400;
    font-size: 1.6em;
    color: $basic-black-color;

    &--bold {
        font-weight: 700;
    }
}


.list {
    &-unordered {
        font-weight: 400;
        font-size: 1.8em;
        line-height: 2.6em;
        color: $basic-black-color;
    }

    &-ordered {
        font-weight: 400;
        font-size: 1.8em;
        line-height: 2.6em;
        color: $basic-black-color;
    }
}


.link {
    font-weight: 400;
    font-size: 1.6em;
    color: $active--regular-color;

    &:hover {
        color: $accent-color;
    }
}

.dot-separator {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    margin: 0 6px;
    background-color: $gray--separator-color;
}

.line-separator {
    height: 4px;
    background-color: $gray--separator-color;
}

.circle-scroll {
    display: flex;
    cursor: pointer;
    gap: 15px;

    &__item {
        width: 16px;
        height: 16px;
        border-radius: 8px;
        background-color: $active--regular-color;
        opacity: 0.2;

        &--active {
            opacity: 1;
        }

        &:hover {
            outline: 4px solid $gray--separator-color;
        }
    }
}