@use 'UI-kit' as *;

.form {
    &__contact {
        display: flex;
        flex-direction: column;
        padding: 30px;
        border-radius: 12px;
        background-color: $gray--bg-color;

        .hero-title {
            font-size: 3em;
            margin-bottom: 30px;
            line-height: 115%;
        }

        .botton {
            margin-top: 15px;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__input {
        box-sizing: border-box;
        border: none;
        width: 100%;
        padding: 15px;
        border-radius: 8px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 15px;


        &::placeholder {
            color: $gray--text-color;
        }

        &:focus {
            outline: 1px solid $active--regular-color;

            &:invalid {
                outline: 1px solid #FF0000;

                &::placeholder {
                    color: #FF0000;
                }
            }

            // &:required{
            //     outline: 1px solid #FF0000;

            //     &::placeholder {
            //         color: #FF0000;
            //     }
            // }
        }
    }

    &__text-area {
        box-sizing: border-box;
        border: none;
        width: 100%;
        min-height: 130px;
        resize: none;
        padding: 15px;
        border-radius: 8px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 30px;

        &::placeholder {
            color: $gray--text-color;
        }

        &:focus {
            outline: 1px solid $active--regular-color;

            &:invalid {
                outline: 1px solid #FF0000;

                &::placeholder {
                    color: #FF0000;
                }
            }

        }
    }

    &__text {
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $gray--text-color;
        margin-bottom: 15px;
    }

    &__wrapper {
        display: none;
        position: fixed;
        justify-content: center;
        align-items: center;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(50, 50, 100, 0.7);
        z-index: 5;

        .form__contact {
            box-shadow: 0px 15px 80px rgba(40, 40, 86, 0.5);
            .form__header{ 
                .hero-title {
                margin-right: 48px;
            }
        }
        }
    }


    &__checkbox {
        display: none;

        &:checked~ {
            .form__wrapper {
                display: flex;
                animation: wrapper-form 0.2s ease-out;
                animation-fill-mode: forwards;
            }
        }
    }

    &__closing {
        &-element {
            display: block;
            position: relative;
            width: 18px;
            height: 18px;
            cursor: pointer;
        }

        &-icon {
            &::after,
            &::before {
                content: "";
                display: block;
                position: absolute;
                background: $basic-white-color;
                width: 18px;
                height: 2px;
                top:50%
            }

            &::after {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                background-color: #EC6F5D;
            }

            &::before {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                background-color: #EC6F5D;
            }
        }
    }
}
@keyframes wrapper-form {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media all and (max-width: 767px) {
    .form {
        &__btn {
            margin-bottom: 30px;
        }

        &__wrapper{
            .form__contact{
                position: fixed;
                top:0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 0;
            }
        }
    }
}