@use "../UI-kit" as *;

.header {
    background-color: transparent;
    padding-top: 50px;
    position: relative;
    z-index: 2;

    &__inner {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "logo contact""logo navigation";
    }

    &__logo-page {
        display: flex;
        grid-area: logo;
        align-items: center;
        gap: 5px;
    }

    &__logo {
        display: inline-block;

        img {
            max-width: 130px;
        }
    }

    &__slash {
        display: inline-block;

        img {
            max-width: 21px;
        }
    }

    &__page {
        text-decoration: none;
        font-size: 3.6em;
        color: $basic-white-color;
        white-space: nowrap;
    }

    &__contact-language {
        display: flex;
        grid-area: contact;
        align-items: center;
        justify-content: end;
        margin-bottom: 11px;
    }

    &__language {
        text-decoration: none;
        font-weight: 700;
        font-size: 1.2em;
        padding: 5px 7px;
        color: $basic-white-color;
        ;

        &--active {
            color: $basic-white-color;
            background-color: $accent-color;
            border-radius: 8px;
        }

        &:hover {
            color: $basic-white-color;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 8px;
        }
    }

    &__adress {
        font-weight: 400;
        font-size: 1.6em;
        color: $basic-white-color;
    }

    &__number {
        font-weight: 700;
        font-size: 1.6em;
        color: $basic-white-color;
    }

    &__social {
        display: inline;

        svg {
            path {
                fill: $basic-white-color;
            }
        }

        &:hover {
            svg {
                path {
                    fill: $accent-color;
                }
            }
        }
    }

    &__navigation {
        display: flex;
        grid-area: navigation;
        gap: 15px;
        align-items: center;
        justify-content: end;
    }

    &__link {
        display: inline-block;
        text-decoration: none;
        padding-bottom: 3px;
        font-weight: 700;
        font-size: 1.6em;
        color: $basic-white-color;
        border-bottom: 2px solid transparent;

        &:hover {
            color: $basic-white-color;
            border-bottom: 2px solid $basic-white-color;
        }

        &--active {
            color: $accent-color;
            border-bottom: 2px solid $accent-color;
        }
    }
}
@media all and (max-width: 992px) {
    .header {
        &__inner {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: "contact""logo""navigation";
            gap: 30px;
        }

        &__contact-language {
            justify-content: start;
            margin-bottom: 0;
        }

        &__navigation {
            justify-content: start;
        }
    }
}
@media all and (max-width: 767px) {
    .header {
        padding-top: 0;

        .container {
            padding: 0;
        }

        &__inner {
            gap: 0;
        }

        &__logo-page {
            padding: 0 15px;
        }

        &__logo {
            img {
                max-width: 70px;
            }
        }

        &__slash {
            img {
                max-width: 12px;
            }
        }

        &__page {
            font-size: 2em;
        }

        &__contact-language {
            padding: 15px;
            justify-content: space-between;
            margin-bottom: 15px;
            background-color: rgba(245, 245, 250, 0.2);
        }

        &__adress {
            display: none;
        }

        &__social {
            display: none;
        }

        &__navigation {
            display: none;
        }
    }

    .dot-separator {
        display: none;
    }


}