@use '../UI-kit' as *;

.section-main {
    margin-bottom: 60px;

    .hero-title {
        margin: 0 90px 60px;
    }

    &__grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(28%, 1fr));
        gap: 60px;
    }

    .card {
        &-image {
            overflow: hidden;
            width: 100%;
            border-radius: 12px;
            margin-bottom: 15px;
            height: 400px;

            img {
                max-width: none;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }

        &-info {
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__icon {
            display: flex;
            width: 32px;
            height: 32px;
            border-radius: 16px;
            justify-content: center;
            align-items: center;
            background-color: $gray--bg_alt-color;
        }

        .title {
            margin-bottom: 5px;
        }

        .text--small-gray {
            font-weight: 400;
        }

        &:hover {
            .title {
                color: $accent-color;
            }

            .card__icon {
                svg {
                    path {
                        stroke: $accent-color;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 992px) {
    .section-main {
        .hero-title {
            margin: 0 0px 60px;
        }

        &__grid-container {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
    }
}

@media all and (max-width: 767px) {
    .section-main {
        .card {
            &-image {
                height: 300px;
            }
        }

        &__grid-container {
            grid-template-columns: 1fr;
        }
    }
}