@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}
html {
  box-sizing: border-box;
  font-size: 10px;
  line-height: 10px;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: disc;
}
ul li {
  color: #F0145A;
  font-size: 1.8em;
  line-height: 144%;
  margin-bottom: 15px;
}
ul li:last-child {
  margin-bottom: 0px;
}

ol {
  list-style-type: decimal;
}
ol li {
  color: #F0145A;
  font-size: 1.8em;
  line-height: 144%;
  margin-bottom: 15px;
}
ol li:last-child {
  margin-bottom: 0px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 30px;
}

@media all and (max-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
.hero-title {
  font-weight: 700;
  font-size: 3.8em;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.title {
  font-weight: 700;
  color: #323264;
}
.title--bold {
  font-size: 3em;
}
.title--medium {
  font-size: 2.2em;
}
.title--regular {
  font-size: 1.4em;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.title--small {
  font-size: 1.6em;
}

.text {
  font-weight: 400;
  font-size: 1.6em;
  color: #000000;
}
.text--bold {
  font-weight: 700;
}
.text--color-white {
  color: #ffffff;
}
.text--color-regular {
  color: #323264;
}
.text--color-alt {
  color: #46466E;
}

.list-unordered {
  font-weight: 400;
  font-size: 1.8em;
  line-height: 2.6em;
  color: #000000;
}
.list-ordered {
  font-weight: 400;
  font-size: 1.8em;
  line-height: 2.6em;
  color: #000000;
}

.link {
  font-weight: 400;
  font-size: 1.6em;
  color: #24A3FF;
}
.link:hover {
  color: #F0145A;
}

.dot-separator {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  margin: 0 6px;
  background-color: #E6E6F0;
}

.line-separator {
  width: 100%;
  height: 4px;
  background-color: #E6E6F0;
}

.circle-scroll {
  display: flex;
  cursor: pointer;
  gap: 15px;
}
.circle-scroll__item {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #24A3FF;
  opacity: 0.2;
}
.circle-scroll__item--active {
  opacity: 1;
}
.circle-scroll__item:hover {
  outline: 4px solid #E6E6F0;
}

.botton {
  width: 100%;
  font-weight: 700;
  font-size: 1.6em;
  padding: 18px 30px;
  text-align: center;
  color: #ffffff;
  background-color: #24A3FF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
.botton:hover {
  background-color: #0085FF;
}
.botton:active {
  background-color: #006CCF;
}

.header {
  background-color: transparent;
  padding-top: 50px;
  position: relative;
  z-index: 2;
}
.header__inner {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "logo contact" "logo navigation";
}
.header__logo-page {
  display: flex;
  grid-area: logo;
  align-items: center;
  gap: 5px;
}
.header__logo {
  display: inline-block;
}
.header__logo img {
  max-width: 130px;
}
.header__slash {
  display: inline-block;
}
.header__slash img {
  max-width: 21px;
}
.header__page {
  text-decoration: none;
  font-size: 3.6em;
  color: #ffffff;
}
.header__contact-language {
  display: flex;
  grid-area: contact;
  align-items: center;
  justify-content: end;
  margin-bottom: 11px;
}
.header__language {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2em;
  padding: 5px 7px;
  color: #ffffff;
}
.header__language--active {
  color: #ffffff;
  background-color: #F0145A;
  border-radius: 8px;
}
.header__language:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
.header__adress {
  font-weight: 400;
  font-size: 1.6em;
  color: #ffffff;
}
.header__number {
  font-weight: 700;
  font-size: 1.6em;
  color: #ffffff;
}
.header__social {
  display: inline;
}
.header__social svg path {
  fill: #ffffff;
}
.header__social:hover svg path {
  fill: #F0145A;
}
.header__navigation {
  display: flex;
  grid-area: navigation;
  gap: 15px;
  align-items: center;
  justify-content: end;
}
.header__link {
  display: inline-block;
  text-decoration: none;
  padding-bottom: 3px;
  font-weight: 700;
  font-size: 1.6em;
  color: #ffffff;
  border-bottom: 2px solid transparent;
}
.header__link:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}
.header__link--active {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}

@media all and (max-width: 992px) {
  .header__inner {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "contact" "logo" "navigation";
    gap: 30px;
  }
  .header__contact-language {
    justify-content: start;
    margin-bottom: 0;
  }
  .header__navigation {
    justify-content: start;
  }
}
@media all and (max-width: 767px) {
  .header {
    padding-top: 0;
  }
  .header .container {
    padding: 0;
  }
  .header__inner {
    gap: 0;
  }
  .header__logo-page {
    padding: 0 15px;
  }
  .header__logo img {
    max-width: 70px;
  }
  .header__slash img {
    max-width: 12px;
  }
  .header__page {
    font-size: 2em;
  }
  .header__contact-language {
    padding: 15px;
    justify-content: space-between;
    margin-bottom: 15px;
    background-color: rgba(245, 245, 250, 0.2);
  }
  .header__adress {
    display: none;
  }
  .header__social {
    display: none;
  }
  .header__navigation {
    display: none;
  }
  .dot-separator {
    display: none;
  }
}
.mobile-menu__btn {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-left: auto;
  cursor: pointer;
}
.mobile-menu__btn:active {
  background-color: rgba(245, 245, 250, 0.2);
  border-radius: 8px;
}
.mobile-menu__icon {
  display: block;
  position: relative;
  background: #ffffff;
  width: 18px;
  height: 2px;
}
.mobile-menu__icon::after, .mobile-menu__icon::before {
  content: "";
  display: block;
  position: absolute;
  background: #ffffff;
  width: 100%;
  height: 2px;
}
.mobile-menu__icon::after {
  top: 6px;
}
.mobile-menu__icon::before {
  top: -6px;
}
.mobile-menu__wrapper {
  display: none;
  position: fixed;
  z-index: 5;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(50, 50, 100, 0.7);
}
.mobile-menu__list {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 2.5%;
  right: 2.5%;
  bottom: -40%;
  gap: 15px;
  padding: 19px 12px 12px 12px;
  border-radius: 12px 12px 0px 0px;
  background-color: #ffffff;
}
.mobile-menu__list .mobile-menu__icon {
  background: transparent;
}
.mobile-menu__list .mobile-menu__icon::before, .mobile-menu__list .mobile-menu__icon::after {
  top: 0;
}
.mobile-menu__list .mobile-menu__icon::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  background-color: #EC6F5D;
}
.mobile-menu__list .mobile-menu__icon::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background-color: #EC6F5D;
}
.mobile-menu__item {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 2.4em;
  padding: 7px 0;
  border-radius: 12px;
  color: #24A3FF;
  background-color: #F5F5FA;
}
.mobile-menu__item--active {
  color: #F0145A;
}
.mobile-menu__item:active {
  background-color: #E6E6F0;
}
.mobile-menu__checkbox {
  display: none;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__wrapper {
  display: block;
  -webkit-animation: wrapper 0.2s ease-out;
          animation: wrapper 0.2s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__wrapper .mobile-menu__list {
  -webkit-animation: list-menu 0.4s ease-out;
          animation: list-menu 0.4s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes wrapper {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wrapper {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes list-menu {
  0% {
    left: 2.5%;
    right: 2.5%;
    bottom: -40%;
  }
  100% {
    left: 2.5%;
    right: 2.5%;
    bottom: 0%;
  }
}
@keyframes list-menu {
  0% {
    left: 2.5%;
    right: 2.5%;
    bottom: -40%;
  }
  100% {
    left: 2.5%;
    right: 2.5%;
    bottom: 0%;
  }
}
@media all and (max-width: 767px) {
  .mobile-menu__btn {
    display: flex;
  }
}
.header {
  background-color: #ffffff;
}
.header__page {
  color: #323264;
}
.header__language {
  color: #B3B3BA;
}
.header__language--active {
  color: #ffffff;
}
.header__language:hover {
  color: #B3B3BA;
  background-color: #F5F5FA;
}
.header__adress {
  color: #B3B3BA;
}
.header__number {
  color: #B3B3BA;
}
.header__social svg path {
  fill: #B3B3BA;
}
.header__link {
  color: #24A3FF;
}
.header__link--active {
  color: #F0145A;
}
.header__link:hover {
  color: #24A3FF;
  border-bottom: 2px solid #24A3FF;
}

.mobile-menu__icon {
  background: #323264;
}
.mobile-menu__icon::after, .mobile-menu__icon::before {
  background: #323264;
}

.section-main__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  padding: 60px 110px;
}
.section-main__contact {
  display: flex;
  flex-direction: column;
}
.section-main__contact .text {
  font-size: 2.1em;
  line-height: 143%;
}
.section-main__contact .line-separator {
  margin: 30px 0;
}
.section-main__contact .link {
  font-size: 2.1em;
}
.section-main__contact .text--color-alt {
  display: inline-block;
  margin-bottom: 15px;
}
.section-main__social {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section-main__social .text {
  font-size: 1.2em;
  line-height: 133%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.section-main__social:hover svg path {
  fill: #F0145A;
}
.section-main__social:hover .text {
  color: #F0145A;
}

@media all and (max-width: 1024px) {
  .section-main__inner {
    padding: 60px 0;
  }
}
@media all and (max-width: 992px) {
  .section-main__inner {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media all and (max-width: 767px) {
  .section-main__inner {
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px 0;
    gap: 30px;
  }
}
.form__contact {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 12px;
  background-color: #F5F5FA;
}
.form__contact .hero-title {
  font-size: 3em;
  margin-bottom: 30px;
  line-height: 115%;
}
.form__contact .botton {
  margin-top: 15px;
}
.form__input {
  box-sizing: border-box;
  border: none;
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
}
.form__input::-moz-placeholder {
  color: #B3B3BA;
}
.form__input:-ms-input-placeholder {
  color: #B3B3BA;
}
.form__input::placeholder {
  color: #B3B3BA;
}
.form__input:focus {
  outline: 1px solid #24A3FF;
}
.form__input:focus:invalid {
  outline: 1px solid #FF0000;
}
.form__input:focus:invalid::-moz-placeholder {
  color: #FF0000;
}
.form__input:focus:invalid:-ms-input-placeholder {
  color: #FF0000;
}
.form__input:focus:invalid::placeholder {
  color: #FF0000;
}
.form__text-area {
  box-sizing: border-box;
  border: none;
  width: 100%;
  min-height: 130px;
  resize: none;
  padding: 15px;
  border-radius: 8px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
}
.form__text-area::-moz-placeholder {
  color: #B3B3BA;
}
.form__text-area:-ms-input-placeholder {
  color: #B3B3BA;
}
.form__text-area::placeholder {
  color: #B3B3BA;
}
.form__text-area:focus {
  outline: 1px solid #24A3FF;
}
.form__text-area:focus:invalid {
  outline: 1px solid #FF0000;
}
.form__text-area:focus:invalid::-moz-placeholder {
  color: #FF0000;
}
.form__text-area:focus:invalid:-ms-input-placeholder {
  color: #FF0000;
}
.form__text-area:focus:invalid::placeholder {
  color: #FF0000;
}
.form__text {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  margin-bottom: 15px;
}
.form__wrapper {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 100, 0.7);
  z-index: 5;
}
.form__checkbox {
  display: none;
}
.form__checkbox:checked ~ .form__wrapper {
  display: block;
}

@media all and (max-width: 767px) {
  .form__btn {
    margin-bottom: 30px;
  }
}
.footer {
  background-color: #F5F5FA;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  border-top: 2px solid #E6E6F0;
}
.footer__adress {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}
.footer__adress .text {
  color: #323264;
}
.footer__adress .link {
  text-decoration: none;
  font-weight: 700;
}
.footer__contact {
  display: flex;
  align-items: center;
}
.footer__contact .text {
  text-decoration: none;
  font-weight: 700;
  color: #323264;
}
.footer__contact .link {
  text-decoration: none;
  font-weight: 700;
}
.footer__social svg {
  max-width: 38px;
}
.footer__social:hover svg path {
  fill: #F0145A;
}

.copyright {
  font-weight: 400;
  font-size: 1.6em;
  color: #B3B3BA;
}

@media all and (max-width: 992px) {
  .footer__inner {
    flex-direction: column;
    align-items: center;
  }
  .footer__contact {
    margin-bottom: 30px;
  }
}
@media all and (max-width: 767px) {
  .footer__adress {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .footer__contact {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}/*# sourceMappingURL=main.css.map */