@use "../UI-kit.scss" as *;

.section-publications {
    &__grid-container {
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        margin-bottom: 30px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media all and (max-width: 1023px) {
    .section-publications {
        &__card {
            &:last-child {
                grid-column: auto;
            }
        }
    }
}

@media all and (max-width: 992px) {
    .section-publications {
        &__grid-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media all and (max-width: 767px) {
    .section-publications {
        &__grid-container {
            grid-template-columns: 1fr;
        }
    }
}