@use '../UI-kit' as *;
.section-main{
    padding-bottom: 60px;
    .container{
        box-sizing: border-box;
        padding: 0 110px;
    }
    &__image{
        border-radius: 12px;
        overflow: hidden;
        margin-bottom: 30px;
        // max-height: 500px;
        // object-fit: cover;
        // object-position: center center;
        // img{
        //     max-width: none;
        //     max-height: none;
        // }
    }
    .title--bold{
        margin-bottom: 15px;
    }
    .title--medium{
        margin-bottom: 15px;
    }
    .text--small-gray{
        display: inline-block;
        margin-bottom: 30px;
    }
    .line-separator{
        margin-bottom: 30px;
    }
    .text{
        display: inline-block;
        line-height: 162%;
        margin-bottom: 30px;
    }
    .hero-title{
        margin-bottom: 30px;
    }
    ol{
        margin-bottom: 30px;
        li{
            .text{
                vertical-align: top;
                line-height: 144%;
                font-size: 1em;
                margin-bottom: 0px;
            }
    }
}
&__image-ads{
    max-width: 640px;
    margin: 0 auto 30px;
    text-align: center;
    color: $gray--text-color;
    img{
        margin-bottom: 15px;
    }
}
&__social{
&-bar{
    display: flex;
    gap:10px
}
&-item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 42px;
    border-radius: 12px;
    background-color: $gray--bg-color;
    &:hover{
        background-color: $gray--bg_alt-color;
    }
}
}
}
@media all and (max-width: 1024px){
    .section-main{
        .container{
            box-sizing: border-box;
            padding: 0 30px;
        }
}
}
@media all and (max-width: 767px){
    .section-main{
        .container{
            box-sizing: border-box;
            padding: 0 30px;
        }
        .title--bold{
           font-size: 2em;
        }
        .title--medium{
            font-size: 1.6em;
        }
        
        .hero-title{
            font-size: 3em;
        }
}
}