@use "../UI-kit.scss" as *;

.section-publications {
    background-color: $gray--bg-color;
    padding: 30px 0;

    .link {
        font-size: 1.4em;
        font-weight: 700;
        display: inline-block;
        margin-bottom: 5px;

        &:hover {
            svg {
                path {
                    stroke: $accent-color;
                }
            }
        }
    }

    .hero-title {
        margin-bottom: 30px;
        line-height: 110%;
    }

    &__grid-container {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    }

    &__card {
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        background-color: $basic-white-color;
        overflow: hidden;
        // &-image{
        //     max-height: 200px;
        //     overflow: hidden;
          
        //   img{
        //     transform: translateY(-15%);
        //   }
        // }
        &-info {
            padding: 30px;
            display: flex;
            gap: 15px;
            flex-direction: column;

            .text {
                font-size: 1.4em;
                line-height: 150%;
            }
        }

        &-date {
            font-size: 1.2em;
            font-weight: 700;
            color: $gray--text-color;
        }

    }
}
// @media all and (max-width: 1024px) {
//     .section-publications {
//         &__card {
//             // &-image{
//             //     max-height: 200px;
//             //     overflow: hidden;
              
//             //   img{
//             //     max-width: none;
//             //     max-height: 100%;
//             //     transform: translateY(none);
//             //   }
//             // }
//         }
//     }
//     }
// указал 1023, а не 1024 потому что в макете, на 1024 должно еще быть три колонки. 
// не указазал 992 потому что третья колонка переносится на 1019
@media all and (max-width: 1023px) {
    .section-publications {
        &__card {
            &:last-child {
                grid-column: 1 / 3;
            }
            // &-image{
            //     max-height: 200px;
            //     overflow: hidden;
              
            //   img{
            //     max-width: 100%;
            //     max-height: none;
            //     transform: translateY(-15%);
            //   }
            // }
        }
    }
}

@media all and (max-width: 767px) {
    .section-publications {
        .hero-title {
            font-size: 3em;
        }

        &__grid-container {
            grid-template-columns: 1fr;
        }

        &__card {
            &:last-child {
                grid-column: 1 / 2;
            }
            // &-image{
            //     max-height: 200px;
            //     overflow: hidden;
              
            //   img{
            //     transform: translateY(none);
            //   }
            // }
        }
    }
}