@use "../UI-kit" as *;

.section-team-member {
    margin-bottom: 60px;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__block {
        display: flex;
        margin-bottom: 30px;
        border-radius: 12px;
        background-color: $gray--bg-color;
        overflow: hidden;
    }

    &__photo {
        min-width: 400px;
        max-height: 298px;

        img {
            max-width: none;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    &__info {
        padding: 30px;

        .link {
            font-size: 1.4em;
            font-weight: 700;
            display: inline-block;
            margin-bottom: 5px;

            &:hover {
                svg {
                    path {
                        stroke: $accent-color;
                    }
                }
            }
        }

        .hero-title {
            margin-bottom: 30px;
            line-height: 46px;
        }

        .text {
            color: $gray--text-color;
            line-height: 20px;
        }
    }
}

@media all and (max-width: 1440px) {
    .section-team-member {
        &__photo {
            max-height: none;

        }
    }
}

@media all and (max-width: 992px) {
    .section-team-member {
        &__block {
            flex-direction: column;
        }

        &__photo {
            height: 500px;

        }
    }
}

@media all and (max-width: 767px) {
    .section-team-member {
        &__photo {
            min-width: auto;
        }

        &__info {

            .hero-title {
                font-size: 3em;
                line-height: 37px;
                margin-bottom: 30px;
            }

            .text {
                color: $gray--text-color;
                line-height: 20px;
            }
        }
    }
}